@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');

.flex-container {
    display: flex;
    flex-direction: row-reverse;
    
}

.boton-estilo {    
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
    }
    
.boton-estilo:active {
        box-shadow: 0px 0px 0px 0px;
        top: 5px;
        left: 5px;
      }
      
@media (min-width: 768px) {
    .boton-estilo {
         padding: 0.25em 0.75em;
        }
 }

.boton-estilo:hover {
    color: purple;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bolder;
}

h1 {
    color: white;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 40px;
}

body {
    background-image: url(https://th.bing.com/th/id/R.f1837736d507a2666762717813ee41c8?rik=dnL3xU%2fzGG5K9Q&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: 100%;
}

#contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    
}

#porta1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border: 1px solid #fff;
    background: #000;
    color: white;
    font-family: 'Edu TAS Beginner', cursive;
    width: 28%;
    height: 350px;
    border-radius: 5%;
    border-color: aqua;
}

#porta2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    text-align: justify;
    border: 1px solid #fff;
    background: #000;
    color: white;
    font-family: 'Edu TAS Beginner', cursive;
    width: 17rem;
    height: 350px;
    border-radius: 5%;
    border-color: aqua;
}
 

#porta3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border: 1px solid #fff;
    background: #000;
    color: white;
    font-family: 'Edu TAS Beginner', cursive;
    width: 30%;
    height: 230px;
    border-radius: 5%;
    margin: 0 auto;
    border-color: aqua;
    margin-top: 30px;
}

.pompi {
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 8px;
    margin-top: 20px;
}